
<div class="span30">
	<ul class=" unstyled btn-group">
		<li><a class="btn btn-block" href="{{ path('mail') }}">{% trans %}mail.menu.template{% endtrans %}</a></li>
		<li><a class="btn btn-block" href="{{ path('send_mail') }}">{% trans %}mail.menu.send{% endtrans %}</a></li>
		<li><a class="btn btn-block" href="{{ path('loadTypeMails') }}">{% trans %}mail.menu.type{% endtrans %}</a></li>
	</ul>
</div>