@CHARSET "ISO-8859-1";


h3 {
	text-align: center;
	font-size: 1.6em;
}

/* pour indiquer champs obligatoire */
.required:AFTER {
	content: " *";
	color:red;
	font-weight: bold;
  	font-size: 1.4em;
}

.header-img {
	padding: 0px;
	margin: 0px;
	border-radius: 5px;
	background-image: url("/bundles/ctrvcommon/images/header.jpg");
	background-repeat:repeat-x;
	height: 120px;
	color: #22bbf0;
}

.header-title {
	color: #22bbf0;
	padding-top: 20px;
}

/* affichage des sous menu sur hover et non au click */
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;    
}
.navbar .dropdown-menu {
 margin-top: 0px;
 padding-top: 0px;
 color: #22bbf0; 
}

/* loader */
.ctrv-loader {
  	width: 128px;
  	height: 300px;
  	margin: 0 auto;
	background: url('/bundles/ctrvcommon/images/loading.gif') no-repeat center center;;
}

.center {
	text-align:center;
}

/* supprimer le background sur les boutons de validation de formulaire*/
.form-actions {
	background: none;
	border: none;
}

/* formnulaire de choix de la ville */
.chooseCity select {
	color:#22bbf0;
}

.pagination-select {
	margin-left: 15px;
	width: 60px;
}

.btn-block {
	margin-bottom: 8px;
}