
<div class="span30">
	<ul class=" unstyled btn-group">
		<li><a class="btn btn-block" href="{{ path("agenda") }}">{% trans %}agenda.menu.currentAgenda{% endtrans %}</a></li>
		<li><a class="btn btn-block" href="{{ path("passedAgenda") }}">{% trans %}agenda.menu.passedAgenda{% endtrans %}</a></li>
		<li><a class="btn btn-block" href="{{ path("agendaComment") }}">{% trans %}agendaComment.menu.afficher{% endtrans %}</a></li>
	</ul>
</div>